* {
  font-family: arial;
}

body {
  background-image: url("whitepaper.png");
  background-repeat: repeat;
}

#sidepadding{
  padding-left: 30em;
  padding-right: 30em;
}

.cooking-stage {
  margin-top: 0.5em;
  border: 1px dotted #000;
  padding-left: 1em;
  padding-right: 1em;
}

.centre{
  align-items: center;
  text-align: center;
}

.centre img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 50%;
}

table {
  font-size: 1.1em;
}

.centre table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}
