* {
  font-family: arial;
}

#sidepadding{
  padding-left: 20em;
  padding-right: 20em;
}

.centre{
  align-items: center;
  text-align: center;
}

.centre img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 90%;
  border-radius: 50%;
}


:root {
  font-size: 18px;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h3,
h4 {
  margin: 0 0 1rem;
}

body {
  font: 1em/1.618 Inter, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  background: url(https://source.unsplash.com/zFaSM1hz02c/2400x1823) center/cover no-repeat fixed;
  justify-content: center;
  align-items: center;
}

.grid-container {
   display: grid;
   /* grid-auto-columns: minmax(0, 4fr); */
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   align-content: center;
}

.instructions-text p{
  display: inline-block;
  text-align: left;
  align-content: left;
}

button {
  padding: 5em;
  font-family: arial;
}

.page {
  font-family: Inter;
  border-radius: 0.5em;
  color: rgba(55, 21, 21, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 1em 0.5em rgba(55, 21, 21, 0.45);
  backdrop-filter: blur(1em);
  overflow: hidden;
  margin: 1em;
  padding: 1em;
}



.page-box {
  padding: 1.5em;
}

.page h3 {
  color: #6f2a2a;
}

.header-title {
  text-transform: uppercase;
}

.header-text {
  font-weight: bold;
}

.body-text {
  font-size: 0.9em;
}

.footer-text {
  font-size: 0.75em;
}

/* Split column styling */
.wrapper {
  display: flex;
}

.left {
  flex: 0 0 65%;
}

.right {
  flex: 1;
}
